.container {
  width: 90%;
  max-width: 990px;
  margin: 0 auto;
}

.upload-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

input {
  margin: 10px;
}

.public-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.public-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}
.public-card{
  width: 210px;
  height: 300px;
  justify-content: space-between;
  display: flex;
  flex-flow: wrap column;
  border: 2px solid gray;
  border-radius: 11px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.public-image{
  width: 100%;
}
.card-details{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

